log.json
*.pyc
.settings
.project
.pydevproject
.idea
*.pot
*.mo
.babelcompiled
src/ekklesia_notify.egg-info/
.cache/
.eggs/
nix/*_frozen.txt
settings*.yml
testsettings*.yml
.pytest_cache
result
.mypy_cache/
.coverage
htmlcov/
mypy_stubs
pyenv
dist
serve_static
serve_app
docker-image-ekklesia-notify.tar
docker-image-ekklesia-portal-notify.tar


